[Package]
version: 4
depends: 
incremental: False

[Product]
type: localboot
id: classic-shell
name: classic shell
description: Startbutton for Windows 8.x
advice: 
version: 4.2.5
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
classic-shell (4.2.1-1) stable; urgency=low

	* update to 4.2.5
	* win10 enabled
	* check for update disabled






































