[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: putty
name: PuTTY
description: Telnet and SSH client
advice: 
version: 0.66
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

