[Package]
version: 3
depends: 
incremental: False

[Product]
type: localboot
id: rrzn-ci
name: rrzm_ci
description: rrzn_ci
advice: 
version: 2.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
rrzn-ci (1.0-1) testing; urgency=low

  * Initial package

 -- Mike Thomas <apc@rrzn.uni-hannover.de>  Mon, 29 Oct 2012 11:29:40 +0000














