[Package]
version: 2
depends: 
incremental: False

[Product]
type: localboot
id: 7-zip
name: 7-zip
description: Archivierungsprogramm
advice: 
version: 1.0
priority: 100
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
7-zip (1.0-1) testing; urgency=low

  * Initial package

 -- Mike Thomas <thomas@rrzn.uni-hannover.de>  Thu, 27 Mar 2014 10:49:10 +0000





